
.body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.header-nav {
    width: 1440px;
    height: 72px;
    flex-shrink: 0;
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
}

.header-logo-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.Studio {
    color: #2e2f42;
}

.header-menu-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
}

.header-menu-item {
    color: var(--NAVY-BLUE, #2E2F42); 
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #2e2f42;
    
}

.header-menu-link{
    color: var(--NAVY-BLUE, #2E2F42);

    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}


.header-contact {
    color: var(--SLATE, #434455);
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;

}



.header-contact-list{
color: var(--SLATE, #434455);

/* Body */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;

}


.header-contact-item{
    color: var(--SLATE, #434455);

    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    }




.header-contact-link{
    color: var(--NAVY-BLUE, #2E2F42);
/* Body Medium */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;

}

.main-section-effective {
background: var(--NAVY-BLUE, #2E2F42);
width: 1128px;
height: 104px;
flex-shrink: 0;
}

.h1 {
    color: var(--WHITE, #FFF);
    text-align: center;
    
    /* Header 1 */
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 107.143% */
    letter-spacing: 1.12px;
    width: 496px;
}

.button-order{
 
        background-color: #4D5AE5;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
    }
    
    /* Стиль кнопки при наведенні (hover) */
    .button:hover {
        background-color: #404BBF;
    }
    
    /* Стиль кнопки при фокусі */
    .button:focus {
        background-color: #404BBF; 
}




/*  1 */
.advantages-list {
width: 1440px;
height: 3300px;
background: #FFF;
}


.advantage-item {
display: flex;
width: 264px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
}



.advantage-title {
color: var(--NAVY-BLUE, #2E2F42);

/* Header 3 */
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
letter-spacing: 0.4px;
width: 264px;
}

.advantage-description-strategy {
 color: var(--SLATE, #434455);

/* Body */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
width: 264px;
}



/*  2 */
.advantage-item-punctuality {
    display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.advantage-title {
    color: var(--NAVY-BLUE, #2E2F42);
    
    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
    width: 264px; }


.advantage-description-punctuality {
    color: var(--SLATE, #434455);

    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    width: 264px;
}

          /*  3 */




.advantage-item-diligence {
    display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.advantage-title-diligence {

    color: var(--NAVY-BLUE, #2E2F42);
    
    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
    width: 264px; }

.advantage-description-diligence {
    color: var(--SLATE, #434455);

    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    width: 264px;
}

             /* 4 */


.advantage-item-technologies {
    display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.advantage-title-technologies {
color: var(--NAVY-BLUE, #2E2F42);

/* Header 3 */
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
letter-spacing: 0.4px;
width: 264px;

}
.advantage-description-technologies {
    color: var(--SLATE, #434455);

/* Body */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
width: 264px;
}


