.body {
}
.header-nav {
    width: 1440px;
    height: 72px;
    flex-shrink: 0;
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);

}
.header-logo-link {
}
.studio {
width: 44px;
color: var(--IRIS, #4D5AE5);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
}

.studio2 {
width: 71px;
color: var(--NAVY-BLUE, #2E2F42);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
}

.header-menu-list {
display: inline-flex;
align-items: flex-start;
gap: 40px;
}


.header-menu-item {
color: var(--NAVY-BLUE, #2E2F42);

/* Body Medium */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}

.header-contact {
    color: var(--SLATE, #434455);

/* Body */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}
.header-contact-list {
}
.header-contact-item {
color: var(--SLATE, #434455);

/* Body */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}
.header-contact-link {
}